body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.content {
    width: 700px;
}

.leftBubble {
    user-select: none;
    float: left;
    max-width: 300px;
    margin-right: 116px;
    margin-left: 9px;
    border: 1px solid #ebeef1;
    color: #161717;
    background: #F4F4F7;
    border-radius: 6px;
    padding: 9px 10px;
    margin: 2px 20px 8px 20px;
}
.leftBubble {
    user-select: none;
    float: left;
    max-width: 300px;
    margin-right: 116px;
    margin-left: 9px;
    border: 1px solid #ebeef1;
    color: #161717;
    background: #F4F4F7;
    border-radius: 6px;
    padding: 9px 10px;
    margin: 2px 20px 8px 20px;
}
.rightBubble {
    user-select: none;
    float: right;
    border-radius: 6px;
    padding: 9px 10px;
    margin: 2px 20px 8px 20px;
    margin-right: 9px;
    margin-left: 400px;
    border: 1px solid #d8ebfb;

    background: #E0EFFF;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
